:root{
    --azulPrimario : #28527a;/*fondos y algunos titulos*/
    --azulSuave: #8ac4d0;
    --azul:#009FA8;
    --secondary-blue:#1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black:#201E1C;
    --warm-black1:#282623; 
    --grey:#BABABA;
    --off-white:#FAF9F8;
    --just-white:#FFFFFF;
    --blancoComun: #FAF9F8;
    --tituloTexto:#276DB4;
    --titulosecundario:#1D2864;
 }



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    text-decoration: none;
    font-family: "roboto",sans-serif;
    scroll-behavior: smooth;
}

.overlay{
	position                    : absolute;
	background-color            :rgba(0,0,0,0.8); 
	top                         : 0;
	bottom                      : 0;
	left                        : 0;
	right                       : 0;
	z-index: 1;
	}













.header{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
    min-width: 320px;
    height: 100vh;
   
}
.circulo
{
    position: absolute;
    top: 50%;
    left:-50%;
    transform: translate(50%,-50%);
    min-width: 280px;
    height: 300px;
    background-image: url('../assets/img/circulo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.header_barra
{
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 60px;
    padding: 10px;
    background-color: #FFF;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
}
.header_barra__menu
{
    font-size: 3rem;
    color:var(--titulosecundario);
}
.header_barra__icono img
{
   width: 115px;
   height: 50px;
}
.header_barra__social
{
    width: 100px;
    height: 60px;
    align-self: center;

}
.header_barra__social li
{
   display: inline-block;
   width: 30px;
   margin-right: 15px;
   
}
.header_barra__social li a
{
   font-size: 4rem;
   color:#7AC5F0;
}

.header_menu
{
    position: absolute;
    width: 80%;
    max-width: 100%;
    height: 300px;
    background-color: var(--just-white);
    padding: 20px;
    top: 60px;
    left: -100%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
}
.header_menu__items ul
{
    width: 200px;
    list-style: none;
}

.header_menu__items ul li a
{
    text-decoration: none;
    font-size: 2.6rem;
    font-weight: 500;
    height: 2.2rem;
    color: var(--tituloTexto);


}
.header_titulo
{
    width: 90%;
    min-width: 280px;
    max-width: 930px;
    text-align: left;
    align-self: center;
    margin-left: 20px;
    
    
}
.header_titulo h1{
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 3rem;
    color:var(--tituloTexto);

}
.header_titulo .colorTitulo
{
    color:var(--titulosecundario);
    font-size: 2.5rem;
    font-weight: bold;
}
.header_fondo img{
   width: 100%;
   min-width: 320px;
   height: 150px; 
   border-radius: 0 0 40px 0;
}
.header .header_boton
{
    position: absolute;
    top:450px;
    left: calc(50% - 120px);
    display: block;
    width: 240px;
    height: 50px;
    padding:15px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0, 0.50) ;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    color: var(--warm-black);
    text-align: center;
}
.colorDefault
{
    color:var(--grey);
}
main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--blancoComun);
}
.main_presentacion
{
    width: 100%;
    height: auto;
    padding-top: 30px;
    text-align: center;

}

.main_presentacion > h4
{
    margin-left: 30px;
}
.main_presentacion .presentacion_titulo , .main_portafolio__titulo{
    width: 80%;
    min-width: 270px;
    max-width: 930px;
    margin: 0 auto;
    margin-top: 20px;
}
.TextoCode{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--grey);
    text-align: left;
}

.main_presentacion .presentacion_titulo h2 ,.main_portafolio__titulo h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.4rem;
    margin-top: 20px;
}
.presentacion_TarjetaPerfil{
    width: 90%;
    min-width: 270px;
    max-width: 600px;
    height: 250px;
    max-height: 500px;
    margin:  30px auto;
    color: var(--just-white);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.35);
}
.presentacion_TarjetaTecnica
{
    width: 100%;
    min-width: 320px;
    height: auto;
    margin:  45px auto;
    position: relative;

}
.presentacion_TarjetaTecnica__skills
{
    position: relative;
    width: 70%;
    min-width: 300px;
    max-width: 400px;
    height: 210px;
    border-radius: 10px;
    padding: 8px;
    margin :  20px auto;
    box-shadow: 0 6px 8px  rgba(29, 40, 100, 0.35);

}
.presentacion_TarjetaTecnica__skills:hover
{
    background-color: var(--just-white);
    box-shadow: 0 10px 12px  rgba(29, 40, 100, 0.35);

}
.presentacion_TarjetaTecnica__skills img
{
    width: 128px;
    height: 90px;
    position: absolute;
    right: 30px;
}
.presentacion_TarjetaTecnica__skills .titulo_skill
{
    position: absolute;
    left: calc(25% - 60px);
    top: calc(3% - 20px);       
    width: 120px;
    padding: 6px;
    height: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--tituloTexto);
    margin-bottom: 20px;

}
.presentacion_TarjetaTecnica__skills p
{
    width: 60%;
    height: auto;
    padding: 10px 3px;
    margin-top: 20px;
    font-size: 1.4rem;
    text-transform: capitalize;

}

.img-sistemas
{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("../assets/img/IconoWeb.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main_portafolio
{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    
}
.main_portafolio_container
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.main_portafolio__proyecto
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    min-width: 280px;
    max-width: 350px;
    height: 400px;
    padding: 20px;
    margin: 30px auto;
    text-align: center;  
}
.main_portafolio__titulo
{
    margin-top: 100px;
    
}
.main_portafolio__titulo h2
{
    margin-bottom: 50px;
    
}
 .main_portafolio__proyecto:hover
{

}
.main_portafolio__proyecto hr{
    display: block;
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 2;
}
.main_portafolio__proyecto h3
{
  
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8rem;
  
}
.main_portafolio__proyecto p
{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
    text-align: justify;
   
}
.portafolio__img
{
    z-index: 3;
}
.portafolio__img img
{
    margin: 0 auto;
    border-radius: 10px;
    z-index:2;

   
}