:root{
    --azulPrimario : #28527a;/*fondos y algunos titulos*/
    --azulSuave: #8ac4d0;
    --azul:#009FA8;
    --secondary-blue:#1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black:#201E1C;
    --warm-black1:#282623; 
    --grey:#BABABA;
    --off-white:#FAF9F8;
    --just-white:#FFFFFF;
    --blancoComun: #FAF9F8;
    --tituloTexto:#276DB4;
    --titulosecundario:#1D2864;
 }



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    text-decoration: none;
    font-family: "roboto",sans-serif;
    scroll-behavior: smooth;
}

.overlay{
	position                    : absolute;
	background-color            :rgba(0,0,0,0.8); 
	top                         : 0;
	bottom                      : 0;
	left                        : 0;
	right                       : 0;
	z-index: 1;
	}













.header{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    background-color: #101010;
    
   
}
.header .header_fondo{
    height: 100vh;
    background-image: url('../assets/img/fondoHeader.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(66% 0, 100% 0%, 100% 100%, 32% 100%);
    /*clip-path: polygon(0 0, 21% 0, 100% 100%, 0% 100%);*/
    opacity: 0.4;
    filter: blur(2px);
    box-shadow: 10px 10px 5px rgba(19,19,19,0.5);
}
.circulo
{
    position: absolute;
    top: 50%;
    left:-50%;
    transform: translate(50%,-50%);
    min-width: 280px;
    height: 300px;
    background-image: url('../assets/img/circulo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: header_titulo;
    z-index: -1;
}
.header_barra
{
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 60px;
    padding: 10px;
    background-color: #FFF;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
}
.header_barra__menu
{
    font-size: 3rem;
    color:var(--titulosecundario);
    cursor: pointer;
}
.header_barra__icono img
{
   width: 115px;
   height: 50px;
}
.header_barra__social
{
    width: 200px;
    height: 60px;
    align-self: center;
    margin-left:10px;
    margin-top:7px;
}
.mail_contacto{
    position: relative;
}
.mail_contacto__data{
    display: none;
    position: absolute;
    width: 130px;
    height: 40px;
    left: 30px;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    color:#FFF;
    background-color:var(--titulosecundario);
    transition: ease-in-out 1s;
    z-index: 1;
}
.mail_contacto:hover .mail_contacto__data{
    display: block;
}
.header_barra__social li
{
   display: inline-block;
   width: 30px;
   
}
.header_barra__social li a
{
   font-size: 3rem;
   color:var(--titulosecundario);
}

.header_menu
{
    position: absolute;
    width: 70%;
    max-width: 100%;
    height: 300px;
    background-color: var(--just-white);
    padding: 20px;
    top: 60px;
    left: -100%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    z-index: 10000;
}
.header_menu__items ul
{
    width: 200px;
    list-style: none;
}

.header_menu__items ul li a
{
    text-decoration: none;
    font-size: 2.6rem;
    font-weight: 500;
    height: 2.2rem;
    color: var(--tituloTexto);
    transition: ease 1seg;

}
.header_menu__items ul li a:hover
{
    text-decoration: underline;
}
.header_titulo
{
    position: absolute;
    width: 50%;
    min-width: 280px;
    max-width: 930px;
    text-align: left;
    align-self: center;
    margin-left: 20px;
    top:30%;
    left: 0%;
}
.header_titulo h1{
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3rem;
    color:var(--tituloTexto);
    font-family: "nunito";
}
.header_titulo .colorTitulo
{
    color:var(--titulosecundario);
    font-size: 3.2rem;
    font-weight: bold;
}
.header_fondo_pie img{
   width: 100%;
   min-width: 320px;
   height: 150px; 
   border-radius: 0 0 40px 0;
}
.header .header_boton
{
    position: absolute;
    top:490px;
    left: calc(50% - 100px);
    display: block;
    width: 200px;
    height: 50px;
    padding:9px;
    background-color: #FFF;
    border-radius: 10px;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--warm-black);
    text-align: center;
    transition : 0.5;
}
.header .header_boton:hover
{
    box-shadow: 0 9px 14px rgba(0,0,0, 0.50) ;
}
.colorDefault
{
    color:var(--grey);
}
main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--blancoComun);
}
.main_presentacion
{
    width: 100%;
    height: auto;
    padding-top: 30px;
    text-align: center;
    background-color: background-image: linear-gradient(to bottom, #ffffff, #fefefe, #fdfdfd, #fdfbfc, #fcfafa, #fcfafa, #fcfafa, #fcfafa, #fdfbfc, #fdfdfd, #fefefe, #ffffff);;
    /* background-image: url("../assets/img/headerback.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

}

.main_presentacion > h4
{
    margin-left: 30px;
}
.main_presentacion .presentacion_titulo , .main_portafolio__titulo{
    width: 80%;
    min-width: 270px;
    max-width: 930px;
    margin: 0 auto;
    margin-top: 20px;
    
}
.TextoCode{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--grey);
    text-align: left;
}

.main_presentacion .presentacion_titulo h2 ,.main_portafolio__titulo h2{
    font-size: 4rem;
    font-weight: 600;
    line-height: 3.2rem;
    margin-top: 20px;
    font-family: "nunito";
    color:var(--tituloTexto);
}
.presentacion_TarjetaPerfil{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 270px;
    max-width: 300px;
    height: 100vh;
    max-height: 500px;
    margin:  30px auto ;
    color: var(--just-white);
    padding: 8px;
    margin: 0 auto;
}
.portafolio__img_perfil 
{
    margin: 0 auto;
    padding: 10px;
}
.portafolio__img_perfil img 
{
    border-radius: 10px;
}
.presentacion_TarjetaPerfil p
{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.2rem;
    text-align: center;
    color: #000;
}
.presentacion_TarjetaPerfil p a
{
   text-decoration: none;
   color: var(--titulosecundario);
   font-size: 2rem;
} 
.presentacion_TarjetaTecnica
{
    width: 100%;
    min-width: 320px;
    height: 80vh;
    margin:  0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("../assets/img/backskills.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   /*  box-shadow: 0px 6px 8px  rgba(29, 40, 100, 0.35); */
}
.presentacion_TarjetaTecnica__skills
{
    position: relative;
    width: 70%;
    min-width: 300px;
    max-width: 600px;
    height: 210px;
    border-radius: 10px;
    padding: 8px;
    margin :  20px auto;
    box-shadow: 6px 6px 8px  rgba(29, 40, 100, 0.35);
    background-color: var(--blancoComun);
    border-bottom: 2px solid var(--tituloTexto); ;
}
.presentacion_skills
{
    position: absolute;
    width: 150px;
    top: 40px;
}
.presentacion_skills li
{
    list-style: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    text-align: left;
    color: var(--warm-black);
}
.presentacion_TarjetaTecnica__skills:hover
{
    background-color: var(--just-white);
    box-shadow: 0 10px 12px  rgba(29, 40, 100, 0.35);
}
.presentacion_TarjetaTecnica__skills img
{
    width: 128px;
    height: 90px;
    position: absolute;
    right: 20px;
    top: 40px;
}

.presentacion_TarjetaTecnica__skills .titulo_skill
{
    position: absolute;
    left: calc(25% - 60px);
    top: calc(7% - 20px);       
    width: 120px;
    padding: 6px;
    height: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--tituloTexto);
    margin-bottom: 20px;
}


.img-sistemas
{
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url("../assets/img/fondoHeader.PNG") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}
.prueba
{
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/prueba.svg") ;
    background-size: initial ;
    background-position: top;
    background-repeat: no-repeat;
}

.main_portafolio
{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    
}
.main_portafolio_container
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.main_portafolio__proyecto
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    min-width: 280px;
    max-width: 350px;
    height: 400px;
    padding: 20px;
    margin: 30px auto;
    text-align: center;  
}

.main_portafolio__titulo
{
    margin-top: 100px;
    
}
.main_portafolio__titulo h2
{
    margin-bottom: 50px;
    
}

.main_portafolio__proyecto hr{
    display: block;
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 2;
}
.main_portafolio__proyecto h3
{
  
    font-weight: 500;
    line-height: 1.8rem;
  
}
.main_portafolio__proyecto h3 a
{
    font-size: 2.6rem;
    text-decoration: none;
    color: var(--titulosecundario);
    font-weight: 300;
  
}
.main_portafolio__proyecto p
{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    text-align: justify;

   
}

.portafolio__img img
{
    margin: 0 auto;
    border-radius: 10px;
    z-index:2;
}

.main_Contacto
{
    width: 100%;
    max-height: 100vh;
    background-color: #201E1C;
}
.main_contacto__container ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.main_contacto__container ul li
{
    list-style: none;    
}
.main_contacto__container ul li a
{
    text-decoration: none;
    font-size: 7rem;
    color: #FFF;  
}
.main_contacto__description
{
    display: block;
    color: var(--just-white);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 5px;
}
.git:hover
{
    border-bottom: 2px solid #2C974B;
}
.twitter:hover
{
    border-bottom: 2px solid #1DA1F2;
    color:#1DA1F2;
}
.mail:hover
{
    border-bottom: 2px solid #FFF;
}
.in:hover
{
    border-bottom: 2px solid #0A66C2;
    color:#0A66C2;
}
.footer 
{
    width: 100%;
    height: 20vh;
    background-color: #101010;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.footer i
{
    color:red;
}
.footer p,a 
{
    color: var(--just-white);
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: none;
}
.footer a 
{
    color:var(--tituloTexto);
}

