html{
    font-size:80%;
}
.presentacion_TarjetaTecnica
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.presentacion_TarjetaTecnica__skills
{
    height: 60%;
}
.header .header_boton
{
    top: 480px;
}

.header_menu ul
{
    width: 300px;
}
.header_barra__social li
{
    width: 3.2rem;
}
.main_portafolio_container
{
    flex-direction: row;

}
.header_titulo
{
    max-width: 600px;
    top:20%;
}
.header_titulo h1{
    font-size: 5.2rem;
    line-height: 5rem;
}
.presentacion_skills
{
    position: absolute;
    width: 250px;
    top: 30px;
}
.presentacion_TarjetaPerfil{
    flex-direction: row;
    justify-content: center;
    width: 90%;
    min-width: 270px;
    max-width: 900px;
    height: 60vh;
    margin: 0 auto;
}
.presentacion_skills li
{
    list-style: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    text-align: left;
    color: var(--warm-black);
    margin-left: 10px;
    padding: 2px;
}
.presentacion_TarjetaTecnica__skills  img{
    width: 180px;
    height: 140px;
    right: 20px;
    top: 40px;

}
.main_Contacto
{
    height: 50vh;
}
.main_contacto__container ul
{
    flex-direction: row;
    justify-content: space-evenly;
    height: 50vh;
}
.footer 
{   
    height: 10vh;
    flex-direction: row;
}