html{
    font-size:80%;
}
.presentacion_TarjetaTecnica
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header .header_boton
{
    top: 480px;
}
.circulo
{
    position: absolute;
    top: 40%;
    left:-10%;
    transform: translate(50%,-50%);
    width: 450px;
    height: 400px;
    background-image: url('../assets/img/circulo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.header_menu
{
    
}
.header_menu ul
{
    width: 300px;
}
.main_portafolio_container
{
    flex-direction: row;

}